/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html, body {
  height: 100%;
}

body {
  background-color: #eae3ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #030303;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}